<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.in.winwinsolutions">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launchicon"
        android:label="@string/app_name"
        android:theme="@style/custom_title_theme">
        <activity
            android:name=".Splash"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-oync7yv65ei9c5c" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Page1"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Page2"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Page3"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Page4"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Page5"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Page6"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Page7"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Page8"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Page9"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Page10"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Page11"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".TabStack"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Tabs"
            android:label="@string/title_activity_splash"></activity>
        <activity
            android:name=".FAQ"
            android:label="@string/title_activity_faq"></activity>
        <activity android:name=".Method"></activity>
        <activity
            android:name=".DropBoxFileList"
            android:label="@string/title_activity_drop_box_file"></activity>
        <activity
            android:name=".GoogleDriveFileList"
            android:label="@string/title_activity_google_drive_file"></activity>
        <activity
            android:name=".DeviceFileList"
            android:label="@string/title_activity_device_file_list"></activity>
        <activity
            android:name=".TabPage1"
            android:label="@string/title_activity_test" />
        <activity
            android:name=".TabPage2"
            android:label="@string/title_activity_test" />
        <activity
            android:name=".Assumptions1"
            android:label="@string/title_activity_test" />
        <activity
            android:name=".Assumptions2"
            android:label="@string/title_activity_test" />
        <activity
            android:name=".TabPage9"
            android:label="@string/title_activity_test" />
        <activity
            android:name=".TabPage10"
            android:label="@string/title_activity_test" />
        <activity
            android:name=".TabPage11"
            android:label="@string/title_activity_test" />

    </application>

</manifest>